<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{description}}">
  <meta name="author" content="{{author}}">
  <link rel="icon" href="resources/favicon.ico">

  <link rel="stylesheet" href="styles/main.min.css">

  <script type="text/javascript" src="//use.typekit.net/tbc8wno.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  {{> body }}
</body>
</html>