<section class="contact">
  <div class="wrapped">
  <p>If you'd like to get in touch, feel free to <a href="mailto:duncanregan@gmail.com">drop me a line</a>. Follow me on <a href="https://twitter.com/adregan">Twitter</a> or <a href="http://github.com/adregan">Github</a>.</p>
  </div>
</section>