<section id="projects">
  {{#each projects}}
    <article class="project">
      <h2>{{title}}</h2>
      <div>
        <p class="about">{{{about}}}</p>
      </div>
    </article>
  {{/each}}
</section>