<section id="projects" class="projects">
  <div class="stripe"></div>
  <div class="section-head">
    <h2 class="box-heading">Selected Projects</h2>
  </div>
  {{#each projects}}
    <article class="project {{project-name}} wrapped">
        <img src="{{logo}}" alt="">
        <div class="details">
          {{{about}}}
        </div>
    </article>

  {{/each}}
  <hr>
</section>