<section id="projects" class="projects">
  <div class="stripe"></div>
  <div class="section-head">
    <h2 class="box-heading">Selected Projects</h2>
  </div>
  {{#each projects}}
    <article class="project {{project-name}}">
        <a href="{{url}}"><img src="{{logo}}" alt=""></a>
        <div class="details wrapped">
          {{{about}}}
        </div>
        <div class="info-link"><div class="ex-button"></div><span>info</span></div>
    </article>

  {{/each}}
  <hr>
</section>