* {box-sizing: border-box;}

body {
  background-color: white;
  color: $textcolor;
  font-family: $bodystack;
  font-size: 110%;
  @media(min-width: $desktop) {font-size: 120%;}
}

h1, h2, h3, h4, h5, h6 {
  font-family: $displaystack;
}