header {
  padding: 1em 0 2em 0;
  h1 {
    font-size: 2.7em;
    font-weight: 400;
    margin: 0;
    padding-bottom: .5rem;
    text-align: center;
    text-transform: uppercase;
  }
  p {
    font-size: 1.1em;
    margin: 0;
    padding: 0;
  }
}

nav {
  ul {
    list-style: none; 
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block; 
    padding: 0 .5em;
  }
  a {text-decoration: none;}
}

section.projects {
  position: relative;
  hr{
    border-top: 3px $textcolor solid;
    height: 0;
    margin: 0 auto;
    width: 60%;
    @media(min-width: $desktop) {width:35%;}
  }
}

.section-head {
  text-align: center;
}

.box-heading {
  background: $background;
  border: 3px solid $textcolor;
  display: inline-block;
  font-size: 1.3em;
  margin: 0;
  padding: .4em 1.6em;
}

.stripe {
  border-right: 3px solid $textcolor;
  height: 100%;
  position: absolute;
  width: 50%;
  z-index: -1000;
}

.project {
  margin: 5em auto 0 auto;
  max-width: 25em;
  text-align: center;
  img {
    background-color: $background;
    display: block;
    padding: 1em 0;
    width: 90%;
  }
  .info-link {
    cursor: pointer;
    display: block;
    font-style: italic;
    font-size: 1em;
    margin-left: -.9em;
    margin-top:0;
    padding-right: 2em;
    text-align: right;
  }
}

.ex-button {
  background-image:url("/resources/plus.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 65% 65%;
  border-radius: 100%;
  color: white;
  display: inline-block;
  line-height: 0;
  margin-bottom: -.25em;
  margin-right: .2em;
  height: 23px;
  width: 23px;
}


.project:last-of-type {
  padding-bottom: 5em;
}

.tyo {
  img{margin-left: 7.5%;
  @media(min-width: $desktop) {margin-left:8%;}
}
} 

.tender {
  img{margin: 0 auto;}
}

.khartrum {
  img{
    width: 70%;
    margin: 0 auto;
   }
}

.details {
  background: $background;
  display: none;
  margin: 0 auto;
  padding: 1em 0;
  width: 80%;
  a {color: $textcolor;}
  p {
    font-style: italic;
    text-align: left;
  }
}

.thoughts {
  padding: 1em 0 2em 0;
}

.contact {
  border-top: 2px dotted $textcolor;
  padding: 2.5em 1em;
  a {color: white;}
}

.show {
  display: inherit;
}

.hide {
  visibility: hidden;
}